name: Build and Push immich-go Image

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Determine next version
        id: vars
        run: |
          current_version=$(git tag --list 'v*' --sort=-v:refname | head -n 1)
          if [ -z "$current_version" ]; then
            current_version="v0.0.0"
          fi
          IFS='.' read -r -a version_parts <<< "${current_version#v}"
          new_version="v${version_parts[0]}.$((version_parts[1] + 1)).0"
          echo "new_version=$new_version" >> $GITHUB_ENV

      - name: Build and push multi-arch image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            johnnmackk/immich-go:latest
            johnnmackk/immich-go:${{ env.new_version }}
            johnnmackk/immich-go:${{ github.ref_name }}
